<!DOCTYPE html>
<html>
<head>
	<title>ViewCutoff</title>
	<style>
      body{
backgorund-img:url(https://m.jagranjosh.com/imported/images/E/Articles/jee_main_faqs_2019.jpg)}

		.newb {
			text-align : center;
}

    .lab {
      text-align : center;
    }
		
	</style>
</head>

<body>

	<h1 align = "center" >CUTOFF NOTICE</h1>
	<form action="/see2" method="POST">
		<h2 align = "center">ENTER THE REQUIRED CUTOFF</h2>
		<div class = "lab">
		<input type="text"  value="" name="cutoff">
	</div>
		<br>
		<br>
		<div class = "newb">
		<input type="submit" value="Submit" name="" >
	</div>
	</form>

</body>
</html>
