<!DOCTYPE html>
<html>
<head>
         <style>
                body{
                   background-image:url(https://i.pinimg.com/originals/11/59/e8/1159e826f87e9b276ac61d4be71b3332.jpg);
                           background-size:cover;
        background-attachment:fixed;
                    }
          </style>
	<title>Existing</title>
</head>
<body >

	<h1 text align = "center">YOU ARE ALREADY REGISTERED</h1>
	<a href="{{url_for('student')}}"><p style = "text-align : center">GO TO HOME</p></a>
</body>
</html>
